{
  "extends": ["taro/react"],
  "presets": [
    "@babel/preset-react"
  ],
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {}
  },
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
